@import "tailwindcss";

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }

  body {
    overscroll-behavior-y: none;
  }
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 1rem);
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
